*.sv linguist-language=SystemVerilog
*.svh linguist-language=SystemVerilog
*.vhd linguist-language=VHDL
*.vhdl linguist-language=VHDL
tb/random_vectors.h linguist-generated=true
SYNTH_REPORT.md linguist-generated=true
